/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.page {
    height: 100vh;
    background-color: #f6f6f6;
    color: #3c3c3c;
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.title {
    font-size: 34px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    margin-bottom: 20px;
}

.rectangle {
    width: 45px;
    height: 4px;
    background-color: #dddbdb;
    margin-bottom: 40px;
}

.subtitle {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    width: 500px;
    margin-bottom: 60px;
}

.personal-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.personal-items__item {
    width: 268px;
    height: 340px;
    margin: 0 15px;
    position: relative;
}

    /* 3D flip card */
.container3d {
    -webkit-perspective: 1200;
    perspective: 1200;
    -webkit-transform-style: preserve-3d; 
    transform-style: preserve-3d;
}

.fliper3d {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s linear;
    -o-transition: .7s linear;
    transition: .7s linear;
}

.front3d, .back3d {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front3d {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.back3d {
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.container3d:hover .fliper3d {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
    /* 3D flip card */

.personal-items__item-photo {
    height: 268px;
    margin-bottom: 20px;
}

.personal-items-social {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00aed9;
    opacity: 0.9;
    height: 268px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 42px;
    height: 42px;
    background-color: rgb(255, 255, 255, 0.3);
    margin: 2px;
    padding: 0;
}

.social-item:hover {
    background-color: rgb(255, 255, 255, 0.0);
}

.fab {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.fa-twitter {
    -webkit-transform: translate(10px, 10px);
        -ms-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
}

.fa-facebook-f {
    -webkit-transform: translate(12px, 10px);
        -ms-transform: translate(12px, 10px);
            transform: translate(12px, 10px);
}

.fa-google-plus-g {
    -webkit-transform: translate(8px, 10px);
        -ms-transform: translate(8px, 10px);
            transform: translate(8px, 10px);
}

.personal-items__item-name {
    color: #282528;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 8px;
}

.personal-items__item-position {
    color: #646464;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
}

.item-1__photo {
    background-image: url('../img/01-userpic.jpg');
}


.item-2__photo {
    background-image: url('../img/02-userpic.jpg');
}

.item-3__photo {
    background-image: url('../img/03-userpic.jpg');
}

.item-4__photo {
    background-image: url('../img/04-userpic.jpg');
}